/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.chatWindowActive{
    display: grid;
    grid-area: chatWindow;
    grid-template-areas: 'head' 'main';
    grid-template-columns: 74.8vw;
    grid-template-rows: 60px 1fr;
    overflow-y: hidden;
    

    &__header{
        display: grid;
        align-items: center;
        grid-area: head;
        grid-template-columns: 1fr;
        padding: 15px 10px;
        background-color: #fff;
    }

    &__main{
        display: grid;
        align-items: center;
        grid-area: main;
        grid-template-areas: 'chat' 'input';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr minmax(50px, 70px);
        overflow: hidden;
    }

    &__chooseChat{
        display: none;
    }

}

.header{
    &__person{
        display: flex;
    }
}

.person{
    &__avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2px;
        margin-right: 10px;
        border-radius: 50%;
        width: 37px;
        height: 37px;
        font-weight: 600;
        background-color: lightgray;
    }

    &__info{
        display: flex;
        flex-direction: column;
    }
}

.info{
    &__name{
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 1rem;
    }

    &__lastSeen{
        font-size: 0.86rem;
    }
}

.main{
    &__chat{
        position: relative;
        display: grid;
        align-items: flex-end;
        grid-area: chat;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }
}


.chatWindow{
    display: grid;
    align-items: center;
    grid-template-columns: 74.8vw;
    grid-template-rows: 1fr;

    &__header{
        display: none
    }

    &__main{
        display: none;
    }

    &__chooseChat{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

.chooseChat{
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 20px;
        font-size: 1.28rem;
        background-color: #fff;
    }
}

