/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.chatWindowActive{
    display: grid;
    grid-area: chatWindow;
    grid-template-areas: 'head' 'main';
    grid-template-columns: minmax(60vh,160vh);
    grid-template-rows: 60px 1fr;
    overflow-y: hidden;

    &__header{
        display: grid;
        align-items: center;
        grid-area: head;
        grid-template-columns: 1fr 50px;
        padding: 15px 10px;
        background-color: #fff;
    }

    &__main{
        display: grid;
        align-items: center;
        grid-area: main;
        grid-template-areas: 'chat' 'input';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr minmax(50px, 70px);
        overflow: hidden;
    }

    &__chooseChat{
        display: none;
    }

}

.header{
    &__person{
        display: flex;
    }
}

.person{
    &__avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-weight: 600;
        background-color: lightgray;
    }

    &__info{
        display: flex;
        flex-direction: column;
    }
}

.info{
    &__name{
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 14px;
    }

    &__lastSeen{
        font-size: 12px;
    }
}

.main{
    &__chat{
        display: grid;
        align-items: flex-end;
        grid-area: chat;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow-y: auto;
        height: 100%;
    }

    &__chatInput{
        display: grid;
        grid-area: input;
        grid-template-areas: 'file input';
        grid-template-columns: 0.05fr 0.95fr;
        grid-template-rows:  minmax(50px, 70px);
        background-color: #fff;
    }
}

.chat{
    &__messageUserFrom{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        justify-self: flex-start;
        margin: 15px 0;
        border-radius: 7px;
        padding: 10px;
        max-width: 65vh;
        background: white;
    }

    &__messageUserTo{
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        justify-self: flex-end;
        margin: 15px 0;
        border-radius: 7px;
        padding: 10px;
        max-width: 65vh;
        background: white;
    }
}

.message{
    &__text{
        overflow-wrap: break-word;
        max-width: 90%;
        font-size: 16px;
        line-height: 1.3em;
    }

    &__time{
        display: flex;
        justify-items: flex-end;
        margin-left: 10px;
        width: 50px;
        font-size: 10px;
        color: rgb(109 109 109);
    }
}

.chatWindow{
    display: grid;
    align-items: center;
    grid-template-columns: minmax(60vh,160vh);
    grid-template-rows: 1fr;

    &__header{
        display: none
    }

    &__main{
        display: none;
    }

    &__chooseChat{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

.chooseChat{
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 20px;
        font-size: 18px;
        background-color: #fff;
    }
}

