.main {
    &__chatInput {
        display: grid;
        grid-area: input;
        grid-template-areas: 'input';
        grid-template-columns: 1fr;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-rows: minmax(40px, 70px);
        background-color: #fff;
    }
}


.chatInput {
    &__input {
        display: grid;
        grid-area: input;
        grid-template-columns: 0.9fr 0.1fr;

        & textarea {
            padding: 15px 7px;
            font-size: 14px;
            resize: none;
        }

        & button {
            border-radius: 5px;
            font-weight: 500;
            font-size: 1rem;
            transition-duration: 0.3s;

            &:active {
                background-color: rgb(109 109 109);
                transition-duration: 0.3s;
            }
        }
    }
}