.sidebarMessage{
    display: grid;
    padding: 10px;
    transition-duration: 0.3s;
    cursor: pointer;

    &__details{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &:hover{
        background-color: rgb(235 233 233);
        transition-duration: 0.3s;
    }
}

.details{
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__bottom{
        display: flex;
    }
}

.top{
    &__name{
        font-weight: 700;
        font-size: 14px;  
    }

    &__time{
        display: flex;
        align-items:center ;
        font-size: 12px;
    }
}

.bottom{
    &__text{
        font-size: 14px; 
    }
}