/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.telegram{
    position: relative;
    display: grid;
    grid-template-areas: 'sidebar chatWindow';
    grid-template-columns: minmax(0.25fr) 0.75fr;
    grid-template-rows: 100vh;
}